@model Blogg.Models.Post

<head>
    <style type="text/css">
        #Button1 {
            width: 196px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What's new:</h1>
    <table>
        <tr>
            <td>
                ID:
            </td>
            <td>
                @Model.postId
            </td>
        </tr>
        <tr>
            <td>
                Author:
            </td>
            <td>
                @Model.postAuthor
            </td>
        </tr>
        <tr>
            <td>
                Added:
            </td>
            <td>
                @Model.postAddedAt
            </td>
        </tr>
        <tr>
            <td>
                Message:
            </td>
            <td>
                @Model.postContent
            </td>
        </tr>
    </table>
    <input id="Button1" type="button" value="Older posts" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Some new results</h2>
        <p>
            These are the new results, graphs and much more</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Some new resources</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More new Stuff here</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>