@model Blogg.Models.Post

@{
    ViewBag.Title = "Post";
}
<table class="post">
    <tr><td>@Html.DisplayFor(model => model.postAddedAt)</td></tr>
    <tr><td>@Html.DisplayFor(model => model.postContent)</td></tr>
    <tr><td>@Html.ActionLink("Back to List", "Index")</td></tr>
</table>